:root {
	--background-color-main: #f7ffff;
	--background-color-buttons: #f7fFFF;
	--background-color-sidebar: #F7FFFF;
	--menu-border-color: #4f926e;
	--font-brand-color: #4f926e;
	--font-color: #070403;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	background: var(--background-color-main);
}

.container {
	display: flex;
	color: var(--font-color);
	font-size: 1rem;
	letter-spacing: 0.05rem;
	line-height: 1;
	font-family: 'Work Sans', sans-serif;
}

p {
	line-height: 1.5rem;
}

a {
	text-decoration: none;
}

h1, h2, h4 {
	color: var(--font-brand-color);
	letter-spacing: 0.1rem;
}

h3 {
	border-bottom: dotted 0.5px var(--menu-border-color);
	padding-bottom: 2.5%;
	margin-left: 10%;
	margin-right: 10%;
}

h1, h2 {
	font-size: 4rem;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2 {
	font-size: 2rem;
	padding: 14px;
}

span {
	color: #f7ffff;
}

button {
	border-radius: 100%; 
	color: var(--font-color);
	background: var(--background-color-buttons);
	border-color: var(--menu-border-color);
	cursor: pointer;
}

.menu-button {
	width: 35px;
	height: 35px;
	margin-top: 25%;
	display: none;
}

.menu-link {
	width: 35px;
	height: 35px;
	margin-top: 25%;
}

.menu-logo {
	max-width: 100px;
	max-height: 110px;
	margin-top: 30px;
}

.menu {
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	border-right: solid var(--menu-border-color) 5px;
	justify-content: space-between;
	position: fixed;
	height: 100vh;
	background-color: var(--background-color-sidebar);
}

nav {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

nav a {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 0.5px #808080;
	margin-left: 30%;
	margin-right: 30%;
	color: var(--font-color);
}

nav a:hover,
nav a.current {
	color: var(--font-brand-color);
	border-color: var(--menu-border-color);
}

.navigation,
.links,
.logo {
	width: 100%;
}

.links,
.logo {
	display: flex;
	justify-content: space-around;
}

.left.left-details a {
	color: var(--font-color);
}

main {
	width: 100%;
	margin-left: 15%;
}

.hidden-menu-button {
	position: fixed;
	top: 2%;
	left: 2%;
	padding: 15px;
	display: none;
}

.info {
	display: flex;
	justify-content: space-around;
	padding: 30px;
	margin: 7%;
	flex-wrap: wrap;
}

.info.info-portfolio {
	margin-top: auto;
}

.info.contact-info {
	margin-bottom: auto;
	margin-top: 5%;
}

.left,
.right {
	width: 40%;
}

.left.project-img {
	width: 50%;
}

.contact,
.left.contact-details {
	text-align: center;
	color: var(--font-color);
	width: 100%;
}

.left.contact-details a {
	color: var(--font-color);
}

.project-details {
	text-align: center;
	width: auto;
}

.left.project-img img { /*tbc depending on how the project looks*/
	padding-top: 2%;
	width: 100%;
}

.skills {
	color: var(--font-brand-color);
	font-size: 0.8rem;
	padding: 5%;
}

.portfolio-img,
.porfolio-heading, 
.avatar {
	width: 100%;
	display: flex;
	justify-content: center;
}

.porfolio-heading h1 {
	margin-top: 6%;
}

.portfolio-img img {
	width: 25%;
	margin-bottom: 6%;
}

footer {
	text-align: center;
	border-top: solid 1px var(--menu-border-color);
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	padding: 10px;
}

.footer-text {
	color: #8f908f;
	font-size: 0.8rem;
	line-height: 1rem;
	padding: 0;
}

.avatar-bike {
	width: 75%;
}

@media only screen and (max-width: 992px) {

	.menu {
		width: 12%;
		min-width: 145px;
		padding: 10px;
		display: none;
	}

	.menu-button, .hidden-menu-button {
		display: inline;
	}

	.right, .left {
		width: 88%;
	}
	
	main {
		margin-left: auto;
	}

	.menu-logo {
		display: none;
	}

	.project-img {
		min-width: 400px;
	}
}



.hamburger {
	width: 25px;
	height: 2px;
	background-color: var(--menu-border-color);
	margin: 6px 0;
}

/*
Extra small <576px (small phones)
Small ≥576px (phones)
Medium ≥768px (tablets)
Large ≥992px (laptops)
Extra large ≥1200px (desktop monitors)*/
